





<HTML>

<HEAD>
	<TITLE>CHaserOnline003</TITLE>
	<meta http-equiv="Content-Type" content="text/html; charset=shift_jis">
</HEAD>

<body>
<html>
<!IMG SRC="/CHaserOnline003/img/CHaserOnlineLogo_w73.jpg">
	<font size=7>
		CHaserOnline
	</font>
	ver 20150130<br>
	<HR>

<P><br>
<br>
























		GetReady ReturnCode=<%= returnCode %>


		<br>


























		<form action="CommandCheck">
			command2=<input type="text" name="command2">
			<input type="submit" value="Go">
		</form>
		<br>

































<HR>

</BODY>
</HTML>
