





<HTML>

<HEAD>
	<TITLE>CHaserOnline003</TITLE>
	<meta http-equiv="Content-Type" content="text/html; charset=shift_jis">
</HEAD>

<body>
<html>
	<font size=7>
		CHaserOnline
	</font>
	ver 20150130<br>
	<HR>

<P><br>
<br>























		<br>



























		<form action="GetReadyCheck">
			command1=<input type="text" name="command1">
			<input type="submit" value="Go">
		</form>
		<br>



































<HR>


</BODY>
</HTML>
