<!DOCTYPE html>
<html lang="ja">
<head>
	<meat charset="utf8">
	<title>CHaserOnline003</title>
</head>
<body>
	<header role="banner">
		<h1><a href="/CHaserOnline003/">CHaserOnline</a></h1>	
		<p>ver. 20150628</p>
	</header>
	<main role="main">
		<form action="createRule" method="POST">

			<label>Room ID: <input type="number" name="id"></label>	

			<label>新規ルーム作成<input type="submit" value="submit"></label>
		</form>

		</main>
	</main>
	<footer role="contentinfo">
		<p><small> (C)2015 Miyagi Technical High School IRC </small></p>
	</footer>
</body>
</html>
