<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf8">
	<title>CHaserOnline003</title>
</head>
<body>
	<header role="banner">
		<h1><a href="/CHaserOnline003/">CHaserOnline</a></h1>	
		<p>ver. 20150628</p>
	</header>
	<main role="main">
		<form action="UserCheck" method="get">
			<label>user=<input type="text" name="user"></label>
			<label>pass=<input type="password" name="pass"></label>
			<input type="submit" value="Go">
		</form>
	</main>
	<footer role="contentinfo">
		<p><small> (C)2015 Miyagi Technical High School IRC </small></p>
	</footer>
</body>
</html>
		